<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <h3 class="text-themecolor m-b-0 m-t-0">Analisa Indikator Data - List</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">Analisa Indikator Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-outline-info">
        <div class="card-body">
          <br />
          <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-responsive"
          show-filter="false">
          <tr ng-repeat="row in $data track by $index">
            <td title="'Judul Indikator'" sortable="'id'">
              {{row.JUDUL_INDIKATOR}}
            </td>
            <td title="'Analisa'" sortable="'analisa'">
              {{ row.analisa }}
            </td>
            <td title="'Rekomendasi'" sortable="'rekomendasi'">
              {{ row.rekomendasi }}
            </td>
            <td title="'Numerator'" sortable="'numerator'">
              {{ row.NUMERATOR }}
            </td>
            <td title="'Denumerator'" sortable="'denumerator'">
              {{ row.DENUMERATOR }}
            </td>
            <td title="'target'" sortable="'target'">
              {{ row.TARGET_PENCAPAIAN }}
            </td>
            <td title="'Periode Analisa'" sortable="'periodeAnalisa'">
              {{ row.PERIODE_ANALISA }}
            </td>
            <td title="'Action'" width="130px">
              <button type="button" class="btn btn-success waves-effect waves-light"
                ng-click="showAnalisaIndikatorEdit(row.JUDUL_INDIKATOR,row.NUMERATOR,row.DENUMERATOR,row.TARGET_PENCAPAIAN,row.id,row.analisa,row.rekomendasi,row.PERIODE_ANALISA,row.period)">
                <i class="fa fa-edit"></i> Update
              </button>
            </td>
          </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
