<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Pengajuan Indikator Mutu - Edit</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item active">Pengajuan Indikator Mutu</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card card-outline-info">
        <div class="card-body">
          <form action="#">
            <div class="form-body">
              <h3 class="card-title">Ubah Pengajuan Indikator Mutu</h3>
              <button type="button" class="btn btn-success waves-effect waves-light" ng-click="downloadPdf(id)">
                Download Profil Indikator Data
              </button>
            <hr />
              <hr />
              <div class="row align-items-start">
                <div class="col">
                  <div class="form-group">
                    <label class="control-label">Tahun Kegiatan</label>
                    <select class="custom-select col-12" ng-model="tahun" ng-disabled="isAuthorized(user_role)">
                      <option ng-repeat="(key, n) in yearDynamic" value="{{ n }}" ng-selected="{{n == currentYear}}">{{ n }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Unit</label>
                    <!-- <select class="custom-select col-12" ng-model="unit" aria-label="label for the select">
                      <option ng-repeat="(key, value) in profileType" ng-value="{{value.ID}}" ng-selected="{{unit === value.ID}}"> {{ value.TYPE }}</option>
                    </select> -->
                    <input
                      class="form-control"
                      type="text"
                      ng-model="currPage"
                      disabled
                    />
                    <input
                    class="form-control"
                    type="hidden"
                    ng-model="user_role"
                  />
                  </div>
                  <div class="form-group">
                    <label class="control-label">Judul Indikator</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="judulIndikator"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                    <input type="hidden" ng-model="unit" class="form-control" value="currPage"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Dasar Pemikiran</label>
                    <p style="font-size: 12px; ">*(1. Ketentuan/ Peraturan, 2. Data, 3. Literatur, dan 4. Analisis Situasi)</p>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="dasarPemikiran"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Dimensi Mutu</label>
                    <p style="font-size: 12px; ">*(pilih 1 sampai dengan 3 dimensi mutu)</p>
                    <div class="row">
                      <div class="col">
                        <div class="checkbox checkbox-success">
                          <input id="efisien" type="checkbox" ng-model="isEfisien" ng-disabled="isAuthorized(user_role)"/>

                          <label for="efisien"> Efisien </label>
                        </div>
                        <div class="checkbox checkbox-success">
                          <input id="efektif" type="checkbox" ng-model="isEfektif" ng-disabled="isAuthorized(user_role)"/>
                          <label for="efektif"> Efektif </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="checkbox checkbox-success">
                          <input id="tepatWaktu" type="checkbox" ng-model="isTepatWaktu" ng-disabled="isAuthorized(user_role)"/>
                          <label for="tepatWaktu"> Tepat Waktu </label>
                        </div>
                        <div class="checkbox checkbox-success">
                          <input id="aman" type="checkbox" ng-model="isAman" ng-disabled="isAuthorized(user_role)"/>
                          <label for="aman"> Aman </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="checkbox checkbox-success">
                          <input id="adil" type="checkbox" ng-model="isAdil" ng-disabled="isAuthorized(user_role)"/>
                          <label for="adil"> Adil </label>
                        </div>
                        <div class="checkbox checkbox-success">
                          <input id="berPasien" type="checkbox" ng-model="isBerPasien" ng-disabled="isAuthorized(user_role)"/>
                          <label for="berPasien"> Berorientasi Pasien </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="checkbox checkbox-success">
                          <input id="integrasi" type="checkbox" ng-model="isIntegrasi" ng-disabled="isAuthorized(user_role)"/>
                          <label for="integrasi"> Integrasi </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Tujuan</label>
                    <input type="text" ng-model="tujuan" class="form-control" ng-readonly="isAuthorized(user_role)"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Definisi Operasional</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="defPemikiran"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label"
                      >Jenis Indikator</label
                    >
                    <select
                      class="form-control custom-select"
                      ng-model="tipeIndikator"
                      ng-init="tipeIndikator = ''"
                      ng-disabled="isAuthorized(user_role)"
                    >
                      <option value="">Pilih Jenis Indikator</option>
                      <option value="Input">Input</option>
                      <option value="Proses">Proses </option>
                      <option value="Output">Output</option>
                      <option value="Outcome">Outcome </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label"
                      >Satuan Pengukuran</label
                    >
                    <select
                      class="form-control custom-select"
                      ng-model="ukuranIndikator"
                      ng-init="ukuranIndikator = ''"
                      ng-disabled="isAuthorized(user_role)"
                    >
                      <option value="">Pilih Ukuran Indikator</option>
                      <option value="Presentase">Presentase</option>
                      <option value="Waktu">Waktu</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Numerator (Pembilang)</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="numerator"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Denumerator (Penyebut)</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="denumerator"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group" style="display: none;">
                    <label class="control-label">Target Pencapaian</label>
                    <input type="text" ng-model="targetPencapaian" class="form-control" ng-disabled="isAuthorized(user_role)"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label"
                      >Target Simbol</label
                    >
                    <select
                      class="form-control custom-select"
                      ng-model="targetSimbol"
                      ng-init="targetSimbol = 'N'"
                      ng-disabled="isAuthorized(user_role)"
                    >
                      <option value="N">Pilih Target Simbol</option>
                      <option value="<"><</option>
                      <option value=">">></option>
                      <option value="<="><=</option>
                      <option value=">=">>=</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Target Value</label>
                    <input type="text" ng-model="targetValue" class="form-control" ng-disabled="isAuthorized(user_role)"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label"
                      >Target Satuan</label
                    >
                    <select
                      class="form-control custom-select"
                      ng-model="targetSatuan"
                      ng-init="targetSatuan = 'N'"
                      ng-disabled="isAuthorized(user_role)"
                    >
                      <option value="N">Pilih Target Satuan</option>
                      <option value="%">%</option>
                      <option value="‰">‰</option>
                      <option value="jam">Jam</option>
                      <option value="menit">Menit</option>
                      <option value="hari">Hari</option>
                      <option value="laporan">Laporan</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="control-label">Kriteria</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="kriteria"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Formula</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="formula"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Metode Pengumpulan Data</label>
                    <select
                      class="form-control custom-select"
                      ng-model="metodePengumpulan"
                      ng-init="metodePengumpulan = ''"
                      ng-readonly="isAuthorized(user_role)"
                    >
                      <option value="">Pilih Metode Pengumpulan</option>
                      <option value="Retrospektif">Retrospektif</option>
                      <option value="Observasi">Observasi</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Sumber Data</label>
                    <select
                      class="form-control custom-select"
                      ng-model="sumberData"
                      ng-init="sumberData = ''"
                      ng-readonly="isAuthorized(user_role)"
                    >
                      <option value="">Pilih Sumber Data</option>
                      <option value="Data Primer">Data Primer</option>
                      <option value="Data Sekunder">Data Sekunder</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Instrumen Pengambilan Data</label>
                    <select
                      class="form-control custom-select"
                      ng-model="instrumenPengambilan"
                      id="instrumen"
                      ng-init="instrumenPengambilan = ''"
                      ng-disabled="isAuthorized(user_role)"
                    >
                      <option value="">Pilih Instrumen Pengambilan</option>
                      <option value="Formulir">Formulir</option>
                      <option value="EMR">EMR</option>
                      <option value="Lainnya">Lainnya</option>
                    </select>
                  </div>
                  <div class="form-group secInstrumen" ng-show="instrumenPengambilan === 'Lainnya'">
                    <label class="control-label">Isi Instrumen Lainnya</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="isiInstrumen"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Besar Sampel</label>
                    <p style="font-size: 12px; ">*(isi dengan total sampel atau rumus untuk menghitung besar sampel)</p>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="besarSampel"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Cara Pengambilan Sampel</label>
                    <select
                      class="form-control custom-select"
                      ng-model="populasiSampel"
                      id="sampel"
                      ng-init="populasiSampel = ''"
                      ng-disabled="isAuthorized(user_role)"
                      >
                      <option value="">Pilih Cara Pengambilan Sampel</option>
                      <option value="Probability Sampling">Probability Sampling</option>
                      <option value="Non Probability Sampling">Non Probability Sampling</option>
                      <option value="Total Sampling">Total Sampling</option>
                      <option value="Lainnya">Lainnya</option>
                    </select>
                  </div>
                  <div class="form-group secSampel">
                    <label class="control-label">Isi Cara Pengambilan Sampel Lainnya</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="isiSampel"
                      ng-readonly="isAuthorized(user_role)"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Periode Pengumpulan Data</label>
                    <select
                      class="form-control custom-select"
                      ng-model="periodePelaporan"
                      ng-init="periodePelaporan = ''"
                      ng-disabled="isAuthorized(user_role)"
                      >
                      <option value="">Pilih Periode Pengumpulan Data</option>
                      <option value="Harian">Harian</option>
                      <option value="Bulanan">Bulanan</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Penyajian Data</label>
                    <input type="text" readonly ng-model="rencanaAnalisis" class="form-control" value="Run Chart" placeholder="Run Chart"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Periode Analisis dan Pelaporan</label>
                    <select
                      class="form-control custom-select"
                      ng-model="periodeAnalisa"
                      ng-init="periodeAnalisa = 'Triwulan'"
                      ng-disabled="isAuthorized(user_role)"
                    >
                      <option value="Triwulan" selected>Triwulan</option>
                    </select>
                  </div>  
                  <div class="form-group">
                    <label class="control-label">Penanggung Jawab</label>
                    <!-- <input type="text" ng-model="penanggungJawab" class="form-control" /> -->
                    <input
                      class="form-control"
                      type="text"
                      ng-model="currentUserLogin"
                      disabled
                    />
                  </div>
                  <div class="form-group">
                    <label class="control-label">Kode Indikator</label>
                    <div class="row">
                      <div class="col">
                        <div class="checkbox checkbox-success">
                          <input id="Inm" type="checkbox" ng-model="isINM" ng-disabled="isAuthorized(user_role)"/>
                          <label for="Inm"> INM </label>
                        </div>
                        <div class="checkbox checkbox-success">
                          <input id="ImpRs" type="checkbox" ng-model="isIMPRs" ng-disabled="isAuthorized(user_role)"/>
                          <label for="ImpRs"> IMP-RS </label>
                        </div>
                        <div class="checkbox checkbox-success">
                          <input id="ImpUnit" type="checkbox" ng-model="isIMPUnit" ng-disabled="isAuthorized(user_role)"/>
                          <label for="ImpUnit"> IMP-Unit </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Review Ulang</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      ng-model="reviewUlang"
                      ng-readonly="!isAuthorized(user_role)">
                    </textarea>
                  </div>                  
                </div>
              </div>
            </div>
            <div class="form-actions m-t-10 " ng-if="!isAuthorized(user_role)">
              <button type="button" class="btn btn-success pull-right m-l-10" ng-click="update()">
                <i class="fa fa-check"></i> Update
              </button>
              <button type="button" class="btn btn-warning pull-right m-l-10" ng-click="delete()">
                  <i class="fa fa-ban"></i> Delete
                </button>
              <button type="button" class="btn btn-inverse pull-right" ng-click="backToList()">
                Cancel
              </button>
            </div>
            <div class="form-actions m-t-10 " ng-if="isAuthorized(user_role)">
              <button type="button" class="btn btn-success pull-right m-l-10" ng-click="showStatusAcc(id,1,reviewUlang)">
                <i class="fa fa-check"></i> Acc
              </button>
              <button type="button" class="btn btn-warning pull-right m-l-10" ng-click="showStatusAcc(id, 2,reviewUlang)">
                  <i class="fa fa-edit"></i> Pending
                </button>
              <button type="button" class="btn btn-inverse pull-right" ng-click="backToList()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  <script>     
  $(document).ready(function () {
        // Handle change for 'sampel' dropdown
        $('#sampel').on('change', function () {
            if (this.value === 'Lainnya') {
                $('.secSampel').show();
            } else {
                $('.secSampel').hide();
            }
        });

        // Handle change for 'instrumen' dropdown
        $('#instrumen').on('change', function () {
            if (this.value === 'Lainnya') {
                $('.secInstrumen').show();
            } else {
                $('.secInstrumen').hide();
            }
        });
    });
  </script>