<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">Pengajuan Indikator Mutu - New</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Home</a>
      </li>
      <li class="breadcrumb-item active">Pengajuan Indikator Mutu</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-body">
        <form action="#" name="myForm" novalidate>
          <div class="form-body">
            <h3 class="card-title">Masukkan Pengajuan Indikator Mutu</h3>
            <hr />
            <div class="row align-items-start">
              <div class="col">
                <div class="form-group">
                  <label class="control-label">Tahun Kegiatan</label>
                  <select class="custom-select col-12" ng-model="tahun">
                    <option ng-repeat="(key, n) in yearDynamic" value="{{ n }}" ng-selected="{{n == currentYear}}">{{ n }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Unit</label>
                  <!-- <select class="custom-select col-12" ng-model="unit" aria-label="label for the select">
                    <option ng-repeat="(key, value) in profileType" ng-value="{{value.ID}}" ng-selected="{{unit === value.ID}}"> {{ value.TYPE }}</option>
                  </select> -->
                  <input
                    class="form-control"
                    type="text"
                    ng-model="currPage"
                    disabled
                  />
                </div>
                <div class="form-group">
                  <label class="control-label">Judul Indikator</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="judulIndikator"
                  ></textarea>
                  <input type="hidden" ng-model="unit" class="form-control" value="currPage"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Dasar Pemikiran</label>
                  <p style="font-size: 12px; ">*(1. Ketentuan/ Peraturan, 2. Data, 3. Literatur, dan 4. Analisis Situasi)</p>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="dasarPemikiran"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Dimensi Mutu</label>
                  <div class="row">
                    <div class="col">
                      <div class="checkbox checkbox-success">
                        <input id="efisien" type="checkbox" ng-model="isEfisien" />
                        <label for="efisien"> Efisien </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="efektif" type="checkbox" ng-model="isEfektif" />
                        <label for="efektif"> Efektif </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="checkbox checkbox-success">
                        <input id="tepatWaktu" type="checkbox" ng-model="isTepatWaktu" />
                        <label for="tepatWaktu"> Tepat Waktu </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="aman" type="checkbox" ng-model="isAman" />
                        <label for="aman"> Aman </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="checkbox checkbox-success">
                        <input id="adil" type="checkbox" ng-model="isAdil" />
                        <label for="adil"> Adil </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="berPasien" type="checkbox" ng-model="isBerPasien" />
                        <label for="berPasien"> Berorientasi Pasien </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="checkbox checkbox-success">
                        <input id="integrasi" type="checkbox" ng-model="isIntegrasi" />
                        <label for="integrasi"> Integrasi </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Tujuan</label>
                  <input type="text" ng-model="tujuan" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label">Definisi Operasional</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="defPemikiran"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label"
                    >Jenis Indikator</label
                  >
                  <select
                    class="form-control custom-select"
                    ng-model="tipeIndikator"
                    ng-init="tipeIndikator = ''"
                  >
                    <option value="">Pilih Jenis Indikator</option>
                    <option value="Input">Input</option>
                    <option value="Proses">Proses </option>
                    <option value="Output">Output</option>
                    <option value="Outcome">Outcome </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label"
                    >Satuan Pengukuran</label
                  >
                  <select
                    class="form-control custom-select"
                    ng-model="ukuranIndikator"
                    ng-init="ukuranIndikator = ''"
                  >
                    <option value="">Pilih Ukuran Indikator</option>
                    <option value="Presentase">Presentase</option>
                    <option value="Waktu">Waktu</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Numerator (Pembilang)</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="numerator"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Denumerator (Penyebut)</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="denumerator"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Target Pencapaian</label>
                  <input type="text" ng-model="targetPencapaian" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="control-label">Kriteria</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="kriteria"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Formula</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="formula"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Metode Pengumpulan Data</label>
                  <select
                    class="form-control custom-select"
                    ng-model="metodePengumpulan"
                    ng-init="metodePengumpulan = ''"
                  >
                    <option value="">Pilih Metode Pengumpulan</option>
                    <option value="Retrospektif">Retrospektif</option>
                    <option value="Observasi">Observasi</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Sumber Data</label>
                  <select
                    class="form-control custom-select"
                    ng-model="sumberData"
                    ng-init="sumberData = ''"
                  >
                    <option value="">Pilih Sumber Data</option>
                    <option value="Data Primer">Data Primer</option>
                    <option value="Data Sekunder">Data Sekunder</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Instrumen Pengambilan Data</label>
                  <select
                    class="form-control custom-select"
                    ng-model="instrumenPengambilan"
                    id="instrumen"
                    ng-init="instrumenPengambilan = ''"
                  >
                    <option value="">Pilih Instrumen Pengambilan</option>
                    <option value="Formulir">Formulir</option>
                    <option value="EMR">EMR</option>
                    <option value="Lainnya">Lainnya</option>
                  </select>
                </div>
                <div class="form-group secInstrumen">
                  <label class="control-label">Isi Instrumen Lainnya</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="isiInstrumen"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Besar Sampel</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="besarSampel"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Cara Pengambilan Sampel</label>
                  <select
                    class="form-control custom-select"
                    ng-model="populasiSampel"
                    id="sampel"
                    ng-init="populasiSampel = ''"
                    >
                    <option value="">Pilih Cara Pengambilan Sampel</option>
                    <option value="Probability Sampling">Probability Sampling</option>
                    <option value="Non Probability Sampling">Non Probability Sampling</option>
                    <option value="Lainnya">Lainnya</option>
                  </select>
                </div>
                <div class="form-group secSampel">
                  <label class="control-label">Isi Cara Pengambilan Sampel Lainnya</label>
                  <textarea
                    class="form-control"
                    rows="5"
                    ng-model="isiSampel"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Periode Pengumpulan Data</label>
                  <select
                    class="form-control custom-select"
                    ng-model="periodePelaporan"
                    ng-init="periodePelaporan = ''"
                    >
                    <option value="">Pilih Periode Pengumpulan Data</option>
                    <option value="Harian">Harian</option>
                    <option value="Bulanan">Bulanan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Penyajian Data</label>
                  <input type="text" readonly ng-model="rencanaAnalisis" class="form-control" value="Run Chart" placeholder="Run Chart"/>
                </div>
                <div class="form-group">
                  <label class="control-label">Periode Analisis dan Pelaporan</label>
                  <select
                    class="form-control custom-select"
                    ng-model="periodeAnalisa"
                    ng-init="periodeAnalisa = ''"
                    >
                    <option value="">Pilih Periode Analisis dan Pelaporan</option>
                    <option value="Bulanan">Bulanan</option>
                    <option value="Triwulan">Triwulan</option>
                    <option value="Semester">Semester</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Penanggung Jawab</label>
                  <!-- <input type="text" ng-model="penanggungJawab" class="form-control" /> -->
                  <input
                    class="form-control"
                    type="text"
                    ng-model="currPage"
                    disabled
                  />
                </div>
                <div class="form-group">
                  <label class="control-label">Kode Indikator</label>
                  <div class="row">
                    <div class="col">
                      <div class="checkbox checkbox-success">
                        <input id="nasional" type="checkbox" ng-model="isNasional" />
                        <label for="nasional"> Nasional </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="unit" type="checkbox" ng-model="isUnit" />
                        <label for="unit"> Unit </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="checkbox checkbox-success">
                        <input id="prioritasUnit" type="checkbox" ng-model="isPrioritasUnit" />
                        <label for="prioritasUnit"> Prioritas Unit </label>
                      </div>
                      <div class="checkbox checkbox-success">
                        <input id="prioritasRS" type="checkbox" ng-model="isPrioritasRS" />
                        <label for="prioritasRS"> Aman </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions m-t-10">
            <button
              type="button"
              class="btn btn-success pull-right m-l-10"
              ng-click="save()"
            >
              <i class="fa fa-check"></i> Save
            </button>
            <button
              type="button"
              class="btn btn-inverse pull-right"
              ng-click="backToList()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>     
  $(document).ready(function () {

    $('.secSampel').hide();
    $('#sampel').on('change', function () {
        if (this.value == 'Lainnya') {
            $('.secSampel').show();
        } else {
            $('.secSampel').hide();
        }
    });

    $('.secInstrumen').hide();
    $('#instrumen').on('change', function () {
        if (this.value == 'Lainnya') {
            $('.secInstrumen').show();
        } else {
            $('.secInstrumen').hide();
        }
    });

  });
</script>