<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">Lembar Pdsa - List</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Home</a>
      </li>
      <li class="breadcrumb-item active">Lembar Pdsa</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-outline-info">
      <div class="card-body">
        <form class="form-horizontal">
          <div class="form-group row">
              <label
                for="example-text-input"
                class="col-xs-12 col-lg-2 col-form-label"
                >Unit
              </label>
              <div class="col-xs-12 col-lg-10">
                <!-- <select class="custom-select col-12" ng-model="unit" aria-label="label for the select">
                  <option ng-repeat="(key, value) in profileType" ng-value="{{value.ID}}" ng-selected="{{unit === value.ID}}"> {{ value.TYPE }}</option>
                </select> -->
                <input
                  class="form-control"
                  type="text"
                  ng-model="currPage"
                  disabled
                />
              </div>
          </div>
          <div class="form-group row">
              <label
                  for="example-month-input"
                  class="col-xs-12 col-lg-2 col-form-label"
                  >Year
              </label>
              <div class="hidden-lg-up" style="height: 5px;">&nbsp;</div>
              <div class="col-xs-12 col-lg-10">
                <select
                  class="custom-select col-12"
                  ng-model="tahun">
                  <!-- <option ng-repeat="(key, n) in yearDynamic" value="{{ n }}" ng-selected="{{n == currentYear}}">{{ n }}</option> -->
                  <option ng-repeat="n in yearRange" value="{{ n }}">{{ n }}</option>
                </select>
              </div>
            </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-2 col-sm-9">
              <!-- <button type="button" class="btn btn-success waves-effect waves-light" ng-click="loadData()">
                Cari Data
              </button> -->
              <a class="btn btn-success waves-effect waves-light"
                href="#!/lembarPdsa_new/rawatJalan"
                ng-class="[{active: currPage == 'lembarPdsa'}]"
                ng-class="[{active: currForm=='lembarPdsa' && currPage == 'rawatJalan'}]"
                ><i class="fa fa-plus"></i> Pengajuan Lembar Pdsa</a
              >
              <!-- <button type="button" class="btn btn-success waves-effect waves-light" ng-click="addIndikatorMutu()">
                <i class="fa fa-plus"></i> Pengajuan Indikator Mutu
              </button> -->
            </div>
          </div>
        </form>
        <br />
        <table ng-table="tableParams"
          class="table table-condensed table-bordered table-striped table-responsive"
          show-filter="false">
          <tr ng-repeat="row in $data track by $index">
            <td title="'Judul Proyek'" sortable="'id'">
              {{row.JUDUL_PROYEK}}
            </td>
            <td title="'Ketua Tim'" sortable="'ketua_tim'">
              {{ row.KETUA_TIM }}
            </td>
            <td title="'Benefit'" sortable="'benefit'">
              {{ row.BENEFIT }}
            </td>
            <td title="'Masalah'" sortable="'masalah'">
              {{ row.MASALAH }}
            </td>
            <td title="'Tujuan'" sortable="'tujuan'">
              {{ row.TUJUAN }}
            </td>
            <td title="'Ukuran'" sortable="'ukuran'">
              {{ row.UKURAN }}
            </td>
            <td title="'Perbaikan'" sortable="'perbaikan'">
              {{ row.PERBAIKAN }}
            </td>
            <td title="'Tanggal Mulai'" sortable="'tanggal_mulai'">
              {{ row.TANGGAL_MULAI }}
            </td>
            <td title="'Tanggal Selesai'" sortable="'tanggal_selesai'">
              {{ row.TANGGAL_SELESAI }}
            </td>
            <td title="'Action'">
              <button type="button"
                class="btn btn-success waves-effect waves-light"
                ng-click="showLembarPdsa(row.ID)">
                <i class="fa fa-edit"></i> Update
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
