<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Lembar Pdsa - New</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Lembar Pdsa</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h3 class="card-title">Lembar Kerja Perbaikan Mutu
                            dengan Metode PDSA</h3>
                        <hr />
                        <div class="row align-items-start">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label">Judul Proyek
                                        Perbaikan</label>
                                    <input type="text" ng-model="judulProyek" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ketua
                                        Tim</label>
                                    <input type="text" ng-model="ketuaTim" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label class="control-label">Anggota
                                                Tim 1</label>
                                            <input type="text" ng-model="anggota1" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="control-label">Jabatan</label>
                                            <input type="text" ng-model="jabatan1" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label class="control-label">Anggota
                                                Tim 2</label>
                                            <input type="text" ng-model="anggota2" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="control-label">Jabatan</label>
                                            <input type="text" ng-model="jabatan2" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label class="control-label">Anggota
                                                Tim 3</label>
                                            <input type="text" ng-model="anggota3" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="control-label">Jabatan</label>
                                            <input type="text" ng-model="jabatan3" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Benefit /
                                        Keuntungan perbaikan untuk</label>
                                    <input type="text" ng-model="benefit" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Masalah /
                                        Peluang</label>
                                    <textarea class="form-control" rows="5" ng-model="masalah"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Langkah 1.
                                        Tujuan (Apa yang ingin dicapai)
                                        ?</label>
                                    <textarea class="form-control" rows="5" ng-model="tujuan"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Langkah 2.
                                        Bagaimana kita mengukur jika perbaikan
                                        menghasilkan perubahan ?</label>
                                    <select class="form-control custom-select" ng-model="ukuran" ng-init="ukuran = ''">
                                        <option value>Pilih ...</option>
                                        <option value="struktur">Ukuran
                                            Struktur</option>
                                        <option value="proses">Ukuran
                                            Proses</option>
                                        <option value="outcome">Ukuran
                                            Outcome</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Langkah 3.
                                        Perbaikan apa yang akan dilakukan untuk
                                        menghasilkan perbaikan?</label>
                                    <textarea class="form-control" rows="5" ng-model="perbaikan"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Periode waktu
                                        proyek perbaikan</label>
                                    <input type="text" ng-model="periodeWaktu" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Anggaran</label>
                                    <input type="text" ng-model="anggaran" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tanggal
                                        Mulai Proyek</label>
                                    <input type="date" ng-model="tanggalMulai" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tanggal
                                        Selesai Proyek</label>
                                    <input type="date" ng-model="tanggalSelesai" class="form-control" />
                                </div>
                                <div ng-repeat="siklus in siklusList">
                                    <h4>Siklus {{ $index + 1 }}</h4>
                                    <div class="form-group">
                                        <label class="control-label">PLAN</label>
                                        <label class="control-label">Saya
                                            berencana</label>
                                        <textarea class="form-control" rows="5" ng-model="siklus.rencana"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Tanggal
                                            Mulai Siklus {{ $index + 1 }}</label>
                                        <input type="date" ng-model="siklus.tanggalMulaiSiklus" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Tanggal
                                            Selesai Siklus {{ $index + 1 }}</label>
                                        <input type="date" ng-model="siklus.tanggalSelesaiSiklus" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Saya
                                            berharap</label>
                                        <textarea class="form-control" rows="5" ng-model="siklus.berharap"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Tindakan</label>
                                        <textarea class="form-control" rows="5" ng-model="siklus.tindakan"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Apa yang
                                            diamati ?</label>
                                        <textarea class="form-control" rows="5" ng-model="siklus.diamati"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">STUDY</label>
                                        <label class="control-label">Apa yang
                                            dapat dipelajari? Apakah sesuai
                                            dengan tujuan?</label>
                                        <textarea class="form-control" rows="5" ng-model="siklus.pelajari"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">ACT</label>
                                        <label class="control-label">Tindakan
                                            selanjutnya</label>
                                        <textarea class="form-control" rows="5"
                                            ng-model="siklus.tindakanSelanjutnya"></textarea>
                                    </div>
                                </div>
                                <button ng-click="tambahSiklus()" type="button" class="btn btn-success">Tambah
                                    Siklus</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions m-t-10" >
                        <button type="button" class="btn btn-success pull-right m-l-10" ng-click="save()">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="btn btn-inverse pull-right" ng-click="backToList()">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>